 @import "tailwindcss";   


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 :root {
  --primary: #1E1E2F;
  --secondary: #00ADB5;
  --terciary: #FF5722;
   --font-heading: 'Poppins', sans-serif;
  --font-body: 'Roboto', sans-serif;
} 

/* colores del root en tailwind
usar el blanco para los textos  */
slate-900  /* fondo oscuro (#1E1E2F) */

/* Color secundario */
cyan-500  /* secundario (#00ADB5) */

/* Color terciario */
orange-600  /* Texto terciario (#FF5722) */

 

body {
  font-family: var(--font-body);
   background: var(--primary);
  color: var(--secondary); 
 
}

h1, h2, h3 {
  font-family: var(--font-heading);
}
