 @import "tailwindcss";   

/* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 :root {
  --primary: #1E1E2F;
  --secondary: #00ADB5;
  --terciary: #FF5722;
   --font-heading: 'Poppins', sans-serif;
  --font-body: 'Roboto', sans-serif;
} 

/* colores del root en tailwind
usar el blanco para los textos  */
slate-900  /* fondo oscuro (#1E1E2F) */

/* Color secundario */
cyan-500  /* secundario (#00ADB5) */

/* Color terciario */
orange-600  /* Texto terciario (#FF5722) */

 

body {
  font-family: var(--font-body);
   background: var(--primary);
  color: var(--secondary); 
 
}

h1, h2, h3 {
  font-family: var(--font-heading);
}

/* animacion del  loading.jsx */
.loader {
  border: 4px solid rgba(255, 255, 255, 0.2); 
  border-radius: 50%;
  border-left-color: #06b6d4; 
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
